Source: backup-client
Section: unknown
Priority: extra
Maintainer: Sean Reifschneider <sean@seans-workstation.realgo.com>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.4
Homepage: <insert the upstream URL, if relevant>
#Vcs-Git: git://git.debian.org/collab-maint/backup-client.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/backup-client.git;a=summary

Package: backup-client
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>
